/* ============================VARIABLES================================ */
:root{
  --bg--clr: ;
}
/* ============================RESET================================ */
*,*::after,*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
  color: inherit;
}

.App{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background-color: #1f1f47;
  transition: all .5s ease;
}

.blob { 
  position: absolute;
  width: 100vw;
  left: 0;
  height: 60%;
  bottom: 20%;
  background: linear-gradient(
    180deg,
    rgba(47, 184, 255,0.42) 31.77%,
    #5c9df1 100%
  );
  mix-blend-mode: color-dodge;
  -webkit-animation: move 20s infinite alternate;
          animation: move 20s infinite alternate;
  transition: 1s cubic-bezier(0.07, 0.8, 0.16, 1);
}

img{
  max-width: 100%;
}

/* ============================UTILITIES================================ */

@-webkit-keyframes move {
  from {
    transform: rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}

@keyframes move {
  from {
    transform:rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
  }

  to {
    transform: rotate(-10deg);
    border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
  }
}
.section{
  width: 100%;
  padding: 1em;
}

.select__style{
  width: 80%;
  background-color: transparent;
  border: none

}

.flex{
  display: flex;
}
/* ============================HEARDER================================ */
.header{
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  position: relative;
  overflow: hidden;
  background: rgba( 255, 255, 255, 0.15 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
}

.logo{
  font-size: 1.5rem;
  font-weight: bold;
}

.logo .accent{
  font-style: italic;
  color: yellow;
}

.nav__menu{
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  width: 60%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1em;
  background-color: beige;
}

.nav__links{
  font-size: 1.5rem;
}

/* ============================HERO================================ */
.hero__section{
  height: 300px;
  position: relative;
  margin-top: 1em;
}

.globe__style{
  position: absolute;
  width: 230px;
  height: 230px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 0, 0, 0.146);
}

.hero__squiz{
  height: 110px;
}

.globle{
  width: 90%;
  display: block;
  margin: auto;
}

.lang__selector{
  position: absolute;
  background-color: bisque;
  width: 35%;
  height: 2em;
  border-radius: .5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 .5em;
  z-index: 2;
}

.lang__to{
  left: 1em;
  top: 2em;
}

.lang__from{
  right: 1em;
  bottom: 3em;
}
/* 
============================RESULT================================ */
.result__container{
  position: relative;
  width: 90%;
  height: 290px;
  margin-inline: auto;
  border-radius: 1em;
  padding: 1em;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  color: whitesmoke;
}

.result__close-btn{
  position: absolute;
  top: 1em;
  right: 1em;
  border: none;
  padding: .5em ;
  border-radius: 50%;
  z-index: 2222;
}

/* 
============================ENTRY================================ */
.entry__section{
  margin-top: 4em;
  bottom: 0;
  position: absolute;
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  backdrop-filter: blur( 18px );
  -webkit-backdrop-filter: blur( 18px );
  height: 30%;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  color: whitesmoke;
}

.form{
  /* width: 100%; */
  left: 1em;
  right: 1em;
  position: absolute;
  z-index: 224;
  top: 50%;
  height: 250px;
  transform: translateY(-50%);
}

.input__container{
  height: 100%;
  position: absolute;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
}

.lang__input{
  flex-direction: column;
  margin-top: 3em;
}

.lang__input input{
  padding: .2em .5em;
  border: none;
  border-radius: .5em;
  font-size: 1rem;
  outline: none;
  background-color: whitesmoke;
}

.form__title{
  font-size: 2.5rem;
  text-align: center;
  line-height: 1;
  margin: 0 0 1em 0;
}

.form__btn{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  bottom: 20%;
  left: 50%;
  transform: translateX(-50%);
  font-weight: bold;
}

.form__btn-open{
  bottom: 38%;
}
/* ============================HEARDER================================ */
